html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: black;
  font-family: 'Roboto', sans-serif;
}

body {
 display: flex;
 align-items: center;
 justify-content: center;
}

/*h1, h2, h3{
font-family: 'Orbitron', sans-serif;
text-align:center;
}
*/

#board {
  width: 1000px;
  height: 550px;
  border: 1px solid black;    
  background-color: white; 
  position: relative;
}

#title {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

#score {
    font-size: 30px;
    width: 165px;
    text-align: center;
    margin: 10px auto;
    padding: 20px;
    color: white;
    
}

#apple{
  background-color: red;
  width: 20px;
  height: 20px;
}

#snakeHead {
  background-color: green;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 50%;   
  top: 50%;   
}

/*
#gameOver, #scoreCount {
    position: absolute;
    visibility: hidden;
}

.overMessage{
    font-size: 62px;
    margin-bottom; 0px;
}

#againBtn{
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
#againBtn:hover{
    opacity: 1;
}
#score{
    margin: 0px;
    
    }
*/